# Change if needed
GID=1001
# GNAME=mftexample
UID=1001
UNAME=mftexample
GIT_REPO_HOME=/repo/1c-mft-hybrid-example
# For rootless Docker on Linux, set CONSIDER_ADDITIONAL_GROUP=true and ADDITIONAL_GROUP_ID=0 (root)
# to ensure read/write access on bind-mounted directories.
CONSIDER_ADDITIONAL_GROUP=false
ADDITIONAL_GROUP_ID=0
